<!DOCTYPE html>
<html lang="en">
<head>
    <title>CLORDLE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script></script>
</head>
<body>
<center>
    <h1 class="toptitle">CLORDLE</h1>
    <form action="/game/guess_html" method="POST">
    <input name="game_json" type="hidden" value='{{ game_dict|tojson }}'>
    <table border="0" width="50%" height="150px" cellspacing="50px">
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        {% for attempt in game_dict.attempts %}
        <tr>
            {% for i in range(5) %}
            <td class="correct-{{ attempt.correctness[i] }}">{{ attempt.guess[i] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td>
                <input type="string" maxlength="1" name="guess1">
            </td>
            <td>
                <input type="string" maxlength="1" name="guess2">
            </td>
            <td>
                <input type="string" maxlength="1" name="guess3">
            </td>
            <td>
                <input type="string" maxlength="1" name="guess4">
            </td>
            <td>
                <input type="string" maxlength="1" name="guess5">
            </td>
        </tr>
    </table>

    <div class="keyboard">
        <div class="keyboard-top">
            <button style="background-color: {{ keyboard_colors['Q'] }}">Q</button>
            <button style="background-color: {{ keyboard_colors['W'] }}">W</button>
            <button style="background-color: {{ keyboard_colors['E'] }}">E</button>
            <button style="background-color: {{ keyboard_colors['R'] }}">R</button>
            <button style="background-color: {{ keyboard_colors['T'] }}">T</button>
            <button style="background-color: {{ keyboard_colors['Y'] }}">Y</button>
            <button style="background-color: {{ keyboard_colors['U'] }}">U</button>
            <button style="background-color: {{ keyboard_colors['I'] }}">I</button>
            <button style="background-color: {{ keyboard_colors['O'] }}">O</button>
            <button style="background-color: {{ keyboard_colors['P'] }}">P</button>
        </div>
        <div class="keyboard-mid">
            <button style="background-color: {{ keyboard_colors['A'] }}">A</button>
            <button style="background-color: {{ keyboard_colors['S'] }}">S</button>
            <button style="background-color: {{ keyboard_colors['D'] }}">D</button>
            <button style="background-color: {{ keyboard_colors['F'] }}">F</button>
            <button style="background-color: {{ keyboard_colors['G'] }}">G</button>
            <button style="background-color: {{ keyboard_colors['H'] }}">H</button>
            <button style="background-color: {{ keyboard_colors['J'] }}">J</button>
            <button style="background-color: {{ keyboard_colors['K'] }}">K</button>
            <button style="background-color: {{ keyboard_colors['L'] }}">L</button>
        </div>
        <div class="keyboard-bot">
            <input type="submit" value="GUESS">
            <button style="background-color: {{ keyboard_colors['Z'] }}">Z</button>
            <button style="background-color: {{ keyboard_colors['X'] }}">X</button>
            <button style="background-color: {{ keyboard_colors['C'] }}">C</button>
            <button style="background-color: {{ keyboard_colors['V'] }}">V</button>
            <button style="background-color: {{ keyboard_colors['B'] }}">B</button>
            <button style="background-color: {{ keyboard_colors['N'] }}">N</button>
            <button style="background-color: {{ keyboard_colors['M'] }}">M</button>
            <button>BACKSPACE</button>
        </div>
    </div>
    </form>

</center>
</body>
</html>
