<!DOCTYPE html>
<html lang="en">
<head>
    <title>CLORDLE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script></script>
</head>
<body>
<center>
    <h1 class="toptitle">CLORDLE</h1>
    <div class="topline"></div>
    <div class="spacer"></div>
    <form id="game-form" action="/game/guess_html" method="POST">
    <input name="game_json" type="hidden" value='{{ game_dict|tojson }}'>
    <table border="0" width="50%" height="150px" cellspacing="50px">
        {% if error_message %}
            <p style="color: white;">{{ error_message }}</p>
        {% endif %}
        {% for attempt in game_dict.attempts %}
        <tr>
            {% for i in range(5) %}
                <td class="correct-{{ attempt.correctness[i] }}">
                    <p>{{ attempt.guess[i] }}</p>
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td>
                <input class="letter" type="string" maxlength="1" name="guess1" tabindex="1">
            </td>
            <td>
                <input class="letter" type="string" maxlength="1" name="guess2" tabindex="2">
            </td>
            <td>
                <input class="letter" type="string" maxlength="1" name="guess3" tabindex="3">
            </td>
            <td>
                <input class="letter" type="string" maxlength="1" name="guess4" tabindex="4">
            </td>
            <td>
                <input class="letter" type="string" maxlength="1" name="guess5" tabindex="5">
            </td>
        </tr>
    </table>

    <div class="keyboard">
        <div class="keyboard-top">
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['Q'] }}">Q</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['W'] }}">W</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['E'] }}">E</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['R'] }}">R</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['T'] }}">T</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['Y'] }}">Y</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['U'] }}">U</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['I'] }}">I</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['O'] }}">O</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['P'] }}">P</button>
        </div>
        <div class="keyboard-mid">
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['A'] }}">A</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['S'] }}">S</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['D'] }}">D</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['F'] }}">F</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['G'] }}">G</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['H'] }}">H</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['J'] }}">J</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['K'] }}">K</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['L'] }}">L</button>
        </div>
        <div class="keyboard-bot">
            <input class="keyboard-button" type="submit" value="GUESS">
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['Z'] }}">Z</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['X'] }}">X</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['C'] }}">C</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['V'] }}">V</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['B'] }}">B</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['N'] }}">N</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button" style="background-color: {{ keyboard_colors['M'] }}">M</button>
            <button type="button" onClick="handleOnScreenKeyPress(this)" class="keyboard-button">&lt-</button>
        </div>
    </div>
    </form>

    <div class="spacer"></div>

    <div class="how-to-play-header">
        <h3>How To Play</h3>
    </div>
    <div class="how-to-play-container">
        <div class="how-to-play">
            <h1>Guess the wordle in 6 tries</h1>
            <p>Each guess must be a valid 5-letter word</p>
            <p>The color of the tiles will change to show how close your guess was to the word</p>
            <p><strong>EXAMPLES</strong></p>
            <p>If you guessed WEARY and the W was green, then it means that W is in the word and in the correct spot</p>
            <p>If you guessed WEARY and the E was yellow, then it means that E is in the word but in the wrong spot</p>
            <p>Red means the letter is not in the word</p>
        </div>
    </div>

    <script>
        const getFocusedElement = (elements) => {
            for (i = 0; i < elements.length; i++) {
                if (elements[i].value === "" && elements[i].className === "letter") {
                    return elements[i];
                }
            }
            return "";
        }

        const writeLetter = (letter, focusedElement, currentIndex, formElements) => {
            console.log(letter);
            if (focusedElement.value === '') {
                focusedElement.value += letter.toUpperCase();
            }

            const nextIndex = currentIndex + 1;
            if (nextIndex >= formElements.length) {
                return;
            }
            const nextElement = formElements[nextIndex];

            nextElement.focus();
        }

        const deleteLetter = (focusedElement, currentIndex, formElements) => {
            if (focusedElement.tagName === 'INPUT') {
                if (focusedElement.value === '') {

                    const prevIndex = currentIndex - 1;
                    if (prevIndex < 0) {
                        return;
                    }
                    const prevElement = formElements[prevIndex];

                    prevElement.focus();
                    prevElement.value = "";
                }
                else {
                    // current element has a value, so we can just clear the value
                    focusedElement.value = "";
                }
            }
        }

        const handleOnScreenKeyPress = (button) => {
            const formElements = Array.from(document.getElementById('game-form').elements);
            focusedElement = getFocusedElement(formElements);
            const currentIndex = formElements.indexOf(focusedElement);

            const buttonValue = button.innerText;

            if (!buttonValue.match(/[a-zA-Z]/) && buttonValue !== "<-") {
                console.log("what button did you even press");
                return;
            }

            if (buttonValue.length === 1) {
                writeLetter(buttonValue, focusedElement, currentIndex, formElements);
            }
            else if (buttonValue === "<-") {
                // This means all inputs have a letter in them, so we want to get rid of the final input box
                if (focusedElement === "") {
                    focusedElement = document.getElementsByName("guess5")[0];
                }

                deleteLetter(focusedElement, currentIndex, formElements);
            }

        }

        const handleKeypress = (e) => {
            if (!e.key.match(/[a-zA-Z]/)) {
                e.preventDefault();
                console.log("invalid key");
                return;
            }

            const formElements = Array.from(document.getElementById('game-form').elements);
            focusedElement = getFocusedElement(formElements);
            const currentIndex = formElements.indexOf(focusedElement);

            if (e.key.length === 1) {
                e.preventDefault()
                writeLetter(e.key, focusedElement, currentIndex, formElements);
            } else if (e.key === 'Backspace') {
                // This means all inputs have a letter in them, so we want to get rid of the final input box
                if (focusedElement === "") {
                    focusedElement = document.getElementsByName("guess5")[0];
                }

                e.preventDefault();
                deleteLetter(focusedElement, currentIndex, formElements);
            } else if (e.key === 'Enter') {
                document.getElementById('game-form').submit();
            }
        }

        document.addEventListener('keydown', handleKeypress);
    </script>
</center>
</body>
</html>
